.control-input{
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:10px;
}

#tValue{
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-top: 10px;
    overflow: hidden;
}

.slider {
    -webkit-appearance: none;
    background: #1e1e1e;
    width: 100px;
    height: 15px;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 7.5px;
  }

.slider:hover{
    background: black;
    border: white solid 3px;

}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: grey;
    cursor: pointer;
    border-radius: 10px;    
}

.slider::-webkit-slider-thumb:hover {
    background-color: white;
}


.input-num{
    background-color : #1e1e1e;
    color : white;
    font-size: large;
    width: 55px;
    margin-left: 5px;
    border:rgb(100, 100, 100) solid 3px;
    border-radius: 5px;
    text-align: center;
}

.input-num:hover{
    background-color: black;
    border: rgb(223, 223, 223) solid 3px;
}
