/*************** Table Content Number Input *****************/

.td-content-input-wrapper{
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:10px;
}

.td-content-input{
    background-color : #1e1e1e;
    color : white;
    font-size: large;
    width: 55px;
    margin-left: 5px;
    border:rgb(100, 100, 100) solid 3px;
    border-radius: 5px;
    text-align: center;
}

.td-content-input:hover{
    background-color: black;
    border: rgb(223, 223, 223) solid 3px;
}



/*************** Table Size Number Input *****************/

.table-size-input-wrapper{
    margin: 10px;
  }

.table-size-input{
    background-color : #1e1e1e;
    color : white;
    font-size: large;
    width: 50px;
    height: 40px;
    border:rgb(100, 100, 100) solid 3px;
    border-radius: 5px;
    text-align: center;
    
}

.table-size-input:hover{
    background-color: black;
    border: rgb(223, 223, 223) solid 3px;
}




/*************** t Slider Input *****************/

#tValue{
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-top: 10px;
    overflow: hidden;
}

.slider {
    -webkit-appearance: none;
    background: #1e1e1e;
    width: 100px;
    height: 15px;
    opacity: 0.7;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 7.5px;
  }

.slider:hover{
    background: black;
    border: white solid 3px;

}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: grey;
    cursor: pointer;
    border-radius: 10px;    
}

.slider::-webkit-slider-thumb:hover {
    background-color: white;
}
