html
{ 
    margin:0;
    padding:0;
} 

body {
   padding:0;
   margin: 0;

   display: grid;
   grid-template-rows: 60px auto 30px;
   
}

header{
   background: linear-gradient(#303030, #3b3b3b);
   margin: 0px;
   padding-top: 15px;
   text-align: center;
   color: white;
   font-size: 22px;
   font-family: Arial, sans-serif;
   font-weight: bold;
   letter-spacing: 0.43px;
   height: 45px;
   position: fixed;
   z-index: 1;
   width: 100%;
}

footer{
   background-color: #2d2d2d;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 1px;
   height: 30px;
   color: rgb(139, 139, 139);

}

section {
   top: 60px;
   height: 100%;
   left:200px;
   display: flex;  
}

main{
   background-color: #1e1e1e;
   width: 100%;
}
