/*************** Main Layout *****************/

html{ 
    margin:0;
    padding:0;
} 

body {
   padding:0;
   margin: 0;
   background-color: #1e1e1e;
   display: grid;
   grid-template-rows: 60px auto;
   
}

header{
   background: linear-gradient(#303030, #3b3b3b);
   margin: 0px;
   padding-top: 15px;
   text-align: center;
   color: white;
   font-size: 22px;
   font-family: Arial, sans-serif;
   font-weight: bold;
   letter-spacing: 0.43px;
   height: 45px;
   position: fixed;
   z-index: 1;
   width: 100%;
}

section {
   top: 60px;
   height: 100%;
   left:200px;
   display: flex;  
}

main{
   width: 100%;
}

.left-nav{
   display: block;
   width: 200px;
   background-color: rgb(36, 36, 36);
   height: 100%;
   padding-top:10px;
   border-right:  rgb(54, 54, 54) solid 1px;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   outline: none;
   font-family: Arial, sans-serif;
   font-weight: bolder;
   position: fixed;
   z-index: 1;
   color:rgb(156, 156, 156);
   font-size: 20px;
 }



/*************** Left Sidebar Content *****************/

.curves-menu{
   color: white;
   text-align: left;
   top: 0;
   padding: 6px 8px 6px 8px;
   border: rgb(85, 85, 85) solid 2px;
   border-radius: 5px;
   width: 168px;
   height: 310px;
   margin-bottom:50px;
   margin-top:5px;
   margin-left: 5px;
}
 
.table-controls{
   color: white;
   font-weight: lighter;
   margin-top:5px;
   width: 160px;
   height: 180px;
   border: rgb(85, 85, 85) solid 2px;
   border-radius: 10px;
   bottom: 0;
   right: 0;
   text-align: right;
   margin-left: 5px;
   padding-right: 20px;
}
 
.curve-btn {
   background: rgb(36, 36, 36);
   border: none;
   border-bottom:  rgb(156, 156, 156) solid 2px;
   transition-duration: 0.4s;
   padding-top: 10px;
   padding-bottom: 10px;
   width: 170px;
   color: white;
   font-size: 20px;
}
   
.curve-btn:hover {
   background: rgb(95, 95, 95);
   border-radius: 10px;
   color: white;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.24);
}
 
 
.reset-btn{
   background-color : #1e1e1e;
   border:  rgb(156, 156, 156) solid 2px;
   border-radius: 5px;
   padding-top: 10px;
   padding-bottom: 10px;
   width: 160px;
   color: white;
   font-size: 20px;
   margin-left: 10px;
}
 
.reset-btn:hover{
   background: rgb(2, 2, 2);
   border-radius: 10px;
   border-width: 3px;
   color: white;
   border-color: white;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.24);
}
 