.right-nav{
  width: 50px;
  background-color: #1e1e1e;
  text-align: center;
  padding-top: 10px;
}

.left-nav{
  display: none;
  width: 200px;
  background-color: rgb(36, 36, 36);
  height: 100%;
  
  padding-top:10px;
  border-right:  rgb(54, 54, 54) solid 1px;

  padding: 6px 8px 6px 16px;
  text-decoration: none;
 
  text-align: left;
  cursor: pointer;
  outline: none;
}

.hamburger{
  cursor: pointer;
  color: white;
  font-size: 30px;
  /*background-color: #2d2d2d;*/
  background: none;
  border: none;
  width: fit-content;
  margin-left: 10px;
}

.hamburger:hover{
  color: white;
  background-color: rgb(129, 129, 129);
  border-radius: 100%;
  
}

.left-nav-btn {
    background: rgb(36, 36, 36);
    border: none;
    border-bottom:  rgb(156, 156, 156) solid 2px;
    transition-duration: 0.4s;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
    color: white;
    font-size: 20px;
}
  
.left-nav-btn:hover {
    background: rgb(95, 95, 95);
    border-radius: 10px;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.24);
}

.right-nav-btn{
    background: linear-gradient(to right, rgb(49, 49, 49), #1e1e1e);
    border: 2px solid rgb(97, 96, 96);
    font-family: 'Times New Roman', Times, serif;
    width: 50px;
    height: 50px;
    text-align: center;
    /*box-shadow: 0 0px 3px 0 rgba(255, 255, 255, 0.19);*/
    /*box-shadow: 0px 0px 4px 0px  #ebebeb;*/
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.right-nav-btn:hover{
    background: rgb(73, 73, 73);
}

.icon-img{
    max-width: 100%;
    max-height: 100%;
}