.hamburger{
  cursor: pointer;
  color: #ddd;
  font-size: 20px;
  margin-right: 20px;
  background-color: #3c3c3c;
  border: none;
  width: fit-content;
}

.hamburger:hover{
  color: white;
  background-color: rgb(71, 71, 71);
  border-radius: 100%;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    padding-right: 10px;
  }

  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #dbd8d8;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn a:hover{
    color: white;
  }

  .sidenav-btn {
    /*background-color: #5f5f5f;*/
    background: linear-gradient(to right, #1e1e1e, rgb(37,37,38));
    /*background-image: linear-gradient(to left, #5f5f5f, rgb(46, 46, 46));*/
    border: none;
    border-bottom:  rgb(65, 65, 65) solid 2px;
    /*font-family: 'Times New Roman', Times, serif;*/
    transition-duration: 0.4s;
    width: 100%;
  }
  
  .sidenav-btn:hover {
    background: rgb(55,55,61);
    border-radius: 10px;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.24);
  }

  .split-btn{
    background: linear-gradient(to right, rgb(37,37,38), #1e1e1e);
    border: 2px solid rgb(109, 109, 109, 0.5);
    font-family: 'Times New Roman', Times, serif;
    width: 40px;
    height: 40px;
    text-align: cener;
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.19);
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .split-btn:hover{
    background: rgb(55,55,61);
  }

  .split-btn a{
    color: #dbd8d8;
    font-size: 25px;
    font-weight: bolder;
  }

  .split-btn a:hover{
    color: white;
  }

