.hamburger{
  cursor: pointer;
  color: white;
  font-size: 30px;
  /*background-color: #2d2d2d;*/
  background: none;
  border: none;
  width: fit-content;
  margin-left: 10px;
}

.hamburger:hover{
  color: white;
  background-color: rgb(129, 129, 129);
  border-radius: 100%;
  
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    padding-right: 10px;
    padding-top:10px;
  }

  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
   
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn a:hover{
    color: white;
  }

  .sidenav-btn {
    /*background-color: #5f5f5f;*/
    background: linear-gradient(to right, #2a2a2a, rgb(36, 36, 36));
    /*background-image: linear-gradient(to left, #5f5f5f, rgb(46, 46, 46));*/
    border: none;
    border-bottom:  rgb(156, 156, 156) solid 2px;
    /*font-family: 'Times New Roman', Times, serif;*/
    transition-duration: 0.4s;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    width: 170px;
  }
  
  .sidenav-btn:hover {
    background: rgb(95, 95, 95);
    border-radius: 10px;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.24);
  }

  .split-btn{
    background: linear-gradient(to right, rgb(49, 49, 49), #1e1e1e);
    border: 2px solid rgb(97, 96, 96);
    font-family: 'Times New Roman', Times, serif;
    width: 50px;
    height: 50px;
    text-align: center;
    /*box-shadow: 0 0px 3px 0 rgba(255, 255, 255, 0.19);*/
    /*box-shadow: 0px 0px 4px 0px  #ebebeb;*/
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .split-btn:hover{
    background: rgb(73, 73, 73);
  }

  .split-btn a{
    color: white;
    font-size: 25px;
    font-weight: bolder;
  }

  .split-btn a:hover{
    color: white;
  }

