#myTable {
    width: 100%;
    margin: 5px;
    min-height: 93vh;
    max-height: 100%;
    padding:0;
    padding-right: 10px;
    border-spacing: 2px;
    table-layout: fixed;
    position: relative;
}

tr{
    width:100%;  
    padding: 0;
    margin: 0;
}
  
td {
    border: 3px solid rgb(97, 96, 96);
    vertical-align: top;
}

.td_content{
    overflow: hidden;
    min-height: 500px;
    max-height: 46.5vh;
    width: 100%;
}
