#myTable {
    width: 100%;
    margin: 5px 5px 5px 5px;
    height: 93vh;
    padding:0;
    padding-right: 10px;
    border-spacing: 2px;
    table-layout: fixed;
    position: relative;
}

tr{
    width:100%;  
    padding: 0;
    margin: 0;
}
  
td {
    border: 3px solid rgb(97, 96, 96);
    background-color: #1e1e1e;
    vertical-align: top;
}
  
.td-wrapper{    
    height: 100%;
}