.window-header{
    background-color: #3f3f3f;
    display : inline-block;
    vertical-align : top;
    width : 100%;
    height: fit-content;
    text-align : center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color : white;
    font : 25px Arial, sans-serif;
    text-decoration : none;
}

.controls{
    background-color: #474747;
    color : white;
    font :20px Arial;
    width : auto;
    height: fit-content;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}

.formula{
    background-color: #1e1e1e;
    display : grid;
    grid-template-columns: auto 40px;
    
    vertical-align : top;
    width : 100%;
    height: fit-content;
    text-align : center;
    align-items: center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: rgb(85, 85, 85) solid 3px; 
}