.window-header{
    /*background-image: linear-gradient(rgb(36, 35, 35), rgb(56, 55, 55), rgb(46, 45, 45));*/
    background-color: #3f3f3f;
    display : inline-block;
    vertical-align : top;
    width : 100%;
    height: fit-content;
    text-align : center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    /*border-bottom: rgb(44, 44, 44) solid 2px; */
}

.window-header a{
    color : rgb(184, 184, 184);
    font : bold 15px Arial, sans-serif;
    text-decoration : none;
}

.controls{
    background-color: #474747;
    color : rgb(184, 184, 184);
    font :15px Arial;

    width : auto;
    height: fit-content;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;;
    border-bottom: rgb(65, 65, 65) solid 2px; 
}

.control-input{
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:10px;
}

.input-num{
    background-color : #1e1e1e;
    color : rgb(184, 184, 184);
    width: 45px;
    margin-left: 5px;
    border:rgb(44, 44, 44) solid 2px;
    border-radius: 5px;
    text-align: center;
}

.input-num:hover{
    background-color: black;
    border: rgb(223, 223, 223) solid 2px;
}

.slider {
    -webkit-appearance: none;
    background: #1e1e1e;
    width: 90px;
    height: 10px;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 7.5px;
  }

.slider:hover{
    background: black;
    border: rgb(223, 223, 223) solid 2px;

}

  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: grey;
    cursor: pointer;
    border-radius: 7.5px;    
}

.slider::-webkit-slider-thumb:hover {
    background-color: rgb(223, 223, 223);
}

#tValue{
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-top: 10px;
    overflow: hidden;
}

.formula{
    background-color: #1e1e1e;
    display : inline-block;
    vertical-align : top;
    width : 100%;
    height: fit-content;
    text-align : center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: rgb(65, 65, 65) solid 2px; 
}

.formula a{
    color :  rgb(200, 200, 200);
    font : 10px 'Cambria Math';
    text-decoration : none;
}
