.tooltip-right {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  
  .tooltip-right .tooltiptext-right {
    visibility: hidden;

    background-color: rgba(255, 255, 255, 0.87);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 105%;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 100px;
    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip-right:hover .tooltiptext-right {
    visibility: visible;
    opacity: 1;	
  }