html
{ 
    height: 100%; 
    margin:0;
    padding:0;
} 

body {
   padding:0;
   margin: 0;
   height: 100%;
   display: grid;
   grid-template-rows: auto auto auto;
   background-color: rgb(56, 56, 56);
}

header{
   height: fit-content;
   background-image: linear-gradient(rgb(102, 51, 153), rgb(56, 56, 56));
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   margin: 0px;
}

header a{
   color: rgb(184, 184, 184);
   font-style: Arial, sans-serif;
   font-size: 40px;
}


footer{
   height: fit-content;
   background-color: rgb(102, 51, 153);
   text-align: center;
   padding-top: 5px;
   padding-bottom: 5px;
}


footer a{
   color: rgb(139, 139, 139);
}


section {
   height: 100%;
   display: grid;
   grid-template-columns: 200px auto 40px;
}

#right-nav{
   width: 40px;
   background-color: rgb(56, 56, 56);
   text-align: center;
   padding-top: 10px;
}

#left-nav{
   width: 200px;
   background-color: rgb(56, 56, 56);
}

main{
   background-color: rgb(56, 56, 56);
   width: 100%;
}

/*table{
   margin: 20px 20px 20px 20px;
}

th, td{
   border:10px solid #111;
   width: 50%;
   height: 50%;
   background-color: black;
}*/
