#myTable {
    width: 100%;
    margin: 5px 5px 5px 5px;
    height: 90vh;
    padding:0;
    padding-right: 5px;
    border-spacing: 5px;
    table-layout: fixed;
    position: relative;
}

tr{
    width:100%;  
    padding: 0;
    margin: 0;
}
  
td {
    border: 2px solid rgb(36, 35, 35);
    background-color: black;
    vertical-align: top;
}
  
.td-wrapper{    
    height: 100%;
}