#myTable {
    width: 97%;
    margin: 20px 20px 20px 20px;
    height: 85vh;
    padding:0;
    border-spacing: 5px;
    table-layout: fixed;
    position: relative;
}

tr{
    width:100%;  
    padding: 0;
    margin: 0;
}
  
td {
    border: 5px solid rgb(36, 35, 35);
    background-color: black;
    vertical-align: top;
}
  