.window-header{
    background-image: linear-gradient(rgb(36, 35, 35), rgb(56, 55, 55), rgb(46, 45, 45));
    background-color: rgb(46, 45, 45);
    display : inline-block;
    vertical-align : top;
    width : 100%;
    height: fit-content;
    text-align : center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.window-header a{
    color : rgb(184, 184, 184);
    font :bold 20px Arial, sans-serif;
    text-decoration : none;
}

.controls{
    background-color : rgb(56, 55, 55);
    color : rgb(184, 184, 184);
    font :15px Arial;

    width : auto;
    height: fit-content;
    padding: 10px;
    align-items: center;
    text-align: center;

}

.control-input{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.input-num{
    background-color : black;
    color : rgb(184, 184, 184);
    width: 50px;
}

.slider {
    -webkit-appearance: none;
    background: black;
    width: 100px;
    height: 10px;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 7.5px;
  }

  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: grey;
    cursor: pointer;
    border-radius: 7.5px;    
}

.slider::-webkit-slider-thumb:hover {
    background-color: rgb(201, 200, 200);
}

#tValue{
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-top: 10px;
    overflow: hidden;
}

.formula{
    background-color: rgb(82, 82, 82);
    display : inline-block;
    vertical-align : top;
    width : 100%;
    height: fit-content;
    text-align : center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.formula a{
    color :  rgb(200, 200, 200);
    font : 10px 'Cambria Math';
    text-decoration : none;
}
